* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.slideon-slide {
    padding: 30px;
    text-align: center;
}

.slide-1 {
    background: violet;
}

.slide-2 {
    background: orange;
}

.slide-3 {
    background: greenyellow;
}

.slide-4 {
    background: pink;
}

.slide-5 {
    background: yellow;
}

.slide-6 {
    background: red;
}
