.slideon-wrapper {
    width: 100%;
    overflow: hidden;
}

.slideon-content {
    position: relative;
}

.slideon-track {
    display: flex;
}

.slideon-slide {
    flex: 0 0 auto;
}

.slideon-prev,
.slideon-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    outline: none;
    padding: 10px;
    color: #fff;
    background: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.slideon-prev {
    left: 10px;
}

.slideon-next {
    right: 10px;
}

.slideon-nav {
    margin-top: 8px;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.slideon-dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: none;
    background: #ccc;
    cursor: pointer;
}

.slideon-dot.active {
    background: #333;
    cursor: initial;
}
